:root {
    --PrimaryColorManagerDashboard: hsl(218, 61%, 12%);
    --SecondaryColorManagerDashboard: hsl(217, 61%, 21%);
    --HoverCoverManagerDashboard: hsl(40, 27%, 42%);
    --MainBtnManagerDashboard: hsl(42, 62%, 12%);
    --blackColorManagerDashboard: hsl(0, 0%, 18%);
    --textColorManagerDashboard: hsl(0, 0%, 83%);
    --bgColorManagerDashboard: hsl(218, 24%, 61%);
    --greyTextManagerDashboard: hsl(34, 4%, 39%);
    --inputColorManagerDashboard: hsl(240, 12%, 97%);
    --inputColorManagerDashboardRed: #d5d5d5;

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}


.MgformContainerChangePass{
    height: 500px;
    margin-top: 2rem;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    
    .Mg-edit-form-change-pass{
        flex-basis: 60%;
        flex-direction: column;
        gap: 1.5rem;

        .Mg-label-container-changepass{
            gap: .5rem;


            .MglabelNameChangePass{
                width: 100px;

                p{
                    width: auto;
                    color: var(--textColorManagerDashboard);
                }
            }

            .Mg-input-changepass{
                border: 1px solid var(--greyTextManagerDashboard);
                background: var(--PrimaryColorManagerDashboard);
                color: var(--textColorManagerDashboard);
                padding: .4rem;
                border-radius: 5px;
                width: 400px;
            }

        }


        .button-update-changepass{
            width: 60%;

            .btn-mg-edit-info{
                padding: .8rem 10.5rem;
                border-radius: 5px;
                background-color: var(--MainBtnManagerDashboard);

                &:hover {
                    background-color: var(--HoverCoverManagerDashboard);
                }

                .button-container-profile-edit{
                    gap: 1rem;

                    p{
                        font-weight: 600;
                        color: var(--textColorManagerDashboard);
                    }

                    .icon-dashboard{
                        color: var(--textColorManagerDashboard) !important;
                    }
                }
            }
        }


    }
}

//MEDIA QUERIES =============>
// @media screen and (max-width: 720px){

//     .MgformContainerChangePass{
//         .formContainerChangePass{
//             .Mg-edit-form-change-pass{
//                 gap: .6rem;

//                 .label-container-changepass{
//                     flex-direction: column;
    
//                     .labelNameChangePass{
//                         transform: translateX(-9rem);
//                     }
    
//                 }

//                 .button-update-changepass{
//                     width: 100%;
//                     margin-top: 2.5rem;
//                 }


//             }

//         }

//     }

// }

// @media screen and (max-width:570px){
//     .MgformContainerChangePass{

//         .formTitleChangePass{
//             h1{
//                 font-size: var(--h1FontSize);
//             }
//         }

//         .formContainerChangePass{
//             .Mg-edit-form-change-pass{
//                 align-items: start;
//                 .label-container-changepass{

//                     .labelNameChangePass{
//                         transform: translateX(-4.5rem);
//                     }

//                     .Mg-input-changepass{
//                         width: 250px
//                     }
                    
//                 }

//                 .button-update-changepass{
//                     .btn{
//                         padding: .8rem 5.7rem;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width:385px){
//     .MgformContainerChangePass{
//         .formContainerChangePass{
//             .Mg-edit-form-change-pass{
//                 .label-container-changepass{
//                     .Mg-input-changepass{
//                         width: 200px;
//                     }
//                 }

//                 .button-update-changepass{
//                     .btn{
//                         padding: .8rem 4.1rem;
//                     }
//                 }
//             }
//         }
//     }
// }