:root {
    --PrimaryColorManagerDashboard: hsl(218, 61%, 12%);
    --SecondaryColorManagerDashboard: hsl(217, 61%, 21%);
    --HoverCoverManagerDashboard: hsl(40, 27%, 42%);
    --MainBtnManagerDashboard: hsl(42, 62%, 12%);
    --blackColorManagerDashboard: hsl(0, 0%, 18%);
    --textColorManagerDashboard: hsl(0, 0%, 83%);
    --bgColorManagerDashboard: hsl(218, 24%, 61%);
    --greyTextManagerDashboard: hsl(34, 4%, 39%);
    --inputColorManagerDashboard: hsl(240, 12%, 97%);
    --inputColorManagerDashboardRed: #d5d5d5;

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.MgProfileContainer {
    height: 100vh;

    .MgUserListBodyRightPage {
        height: 100vh;
        background: var(--SecondaryColorManagerDashboard);
        flex-basis: 100%;
        flex-direction: column;
        overflow: scroll;

        .mainMgProfileContent {
            width: 100%;
            height: 100vh;
            padding: 4rem;
            overflow: auto;

            .formMgGroup {
                width: 100%;
                height: 100%;

                .headingMgProfileSection {
                    justify-content: space-between;

                    .ImgMgUserInfoContainer {
                        width: 250px;
                        height: 200px;

                        img {
                            width: 80%;
                            height: 84%;
                            border-radius: 50%;

                        }
                    }

                    .NameAndSelectMgUserListGroup {
                        height: auto;
                        flex-basis: 60%;
                        gap: .5rem;

                        h5 {

                            font-size: var(--h2FontSize);
                            color: var(--textColorManagerDashboard);
                            font-weight: 500;
                        }

                        h6 {
                            font-size: var(--h3FontSize);
                            color: rgb(243, 233, 50);
                            font-weight: 700;
                            margin-bottom: 10px;
                        }

                    }

                    .editMgProfilebtn {
                        font-weight: 600;
                        flex-basis: 15%;


                        .btnMgProfile {
                            padding: .6rem 1.5rem;
                            background: var(--MainBtnManagerDashboard);
                            border-radius: 3rem;
                            border:none;
                            outline: none;
                            cursor: pointer;

                            a{
                                color: var(--textColorManagerDashboard);
                                font-weight: 500;
                            }

                            &:hover {
                                background: var(--HoverCoverManagerDashboard);
                            }
                        }

                        button {
                            color: var(--whiteColorDashboard);
                            font-size: var(--smallFontSize);
                        }
                    }

                }
            }

            .bottomMgProfile {
                margin-top: 2rem;
                gap: 2rem;
                align-items: flex-start;

                .bodyMgProfileSection {
                    width: 100%;
                    height: 100%;

                    .labelMgGp {
                        gap: 2rem;

                        .labelMgItem {
                            border-bottom: 1px solid var(--greyTextDashboard);
                            gap: 8rem;
                            align-items: flex-start;

                            .spanMgItem {
                                width: 150px;

                                span {
                                    font-weight: 600;
                                    color: var(--textColorManagerDashboard);
                                }
                            }

                            .PagrarphMgItem{
                                p {
                                    color: var(--textColorManagerDashboard);
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}