:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
}



.list-group{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;


    table,th,td{
        border: 2px solid black;
        border-collapse: collapse;
        padding: .8rem;
        background-color: #c9e9e9;


        .sub{
            border: none;
            border-top: 2px solid black;
        }
    }

    .table-container{
        margin-top: 2rem;
        padding: .7rem;
        width: 80%;
       

        .bg-primary{
            .titles{
                text-align: center;
                
            }
        
        }

        .pg{
            text-align: center;
            margin: .5rem;
            padding: .5rem;
            
        }
    }
}