:root {
    --PrimaryColorManagerDashboard: hsl(218, 61%, 12%);
    --SecondaryColorManagerDashboard: hsl(217, 61%, 21%);
    --HoverCoverManagerDashboard: hsl(40, 27%, 42%);
    --MainBtnManagerDashboard: hsl(42, 62%, 12%);
    --blackColorManagerDashboard: hsl(0, 0%, 18%);
    --textColorManagerDashboard: hsl(0, 0%, 83%);
    --bgColorManagerDashboard: hsl(218, 24%, 61%);
    --greyTextManagerDashboard: hsl(34, 4%, 39%);
    --inputColorManagerDashboard: hsl(240, 12%, 97%);

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}


.TopMgSecContainer {
    flex-basis: 14%;
    width: 96%;
    position: sticky;

    .TopMgDivContainer {
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;

        .TopLeftMgGroup {
            gap: 1.688rem;

            .MessMgGroup {
                width: 45px;
                height: 45px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 5px;
                background: var(--PrimaryColorManagerDashboard);

                .iconMgDashboard {
                    width: 19px;
                    height: 19px;
                    flex-shrink: 0;
                    fill: var(--textColorManagerDashboard);
                }

                &:hover {
                    background-color: var(--bgColorManagerDashboard);
    
                    .iconMgDashboard {
                        fill: var(--blackColorManagerDashboard);
                    }
                }
            }

            .CheckListMgGroup {
                width: 45px;
                height: 45px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 5px;
                background: var(--PrimaryColorManagerDashboard);

                .iconMgDashboard {
                    width: 19px;
                    height: 19px;
                    flex-shrink: 0;
                    fill: var(--textColorManagerDashboard);
                }

                &:hover {
                    background-color: var(--bgColorManagerDashboard);
    
                    .iconMgDashboard {
                        fill: var(--blackColorManagerDashboard);
                    }
                }
            }

            .MailBoxMgGroup {
                width: 45px;
                height: 45px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 5px;
                background: var(--PrimaryColorManagerDashboard);

                .iconMgDashboard {
                    width: 19px;
                    height: 19px;
                    flex-shrink: 0;
                    fill: var(--textColorManagerDashboard);
                }

                &:hover {
                    background-color: var(--bgColorManagerDashboard);
    
                    .iconMgDashboard {
                        fill: var(--blackColorManagerDashboard);
                    }
                }
            }
        }

        .TopRightMgGroup {
            gap: 1.25rem;

            .ZoomMgGroup {
                width: 45px;
                height: 45px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                background: var(--PrimaryColorManagerDashboard);
                border-radius: 5px;

                .iconMgDashboard {
                    width: 19px;
                    height: 19px;
                    flex-shrink: 0;
                    fill: var(--textColorManagerDashboard);
                }

                &:hover {
                    background-color: var(--bgColorManagerDashboard);
    
                    .iconMgDashboard {
                        fill: var(--blackColorManagerDashboard);
                    }
                }

            }


            .SearchMgGroup{
                .SearchInputMgDiv{
                    height: 45px;
                    border-radius: 5px 0px 0px 5px;

                    input{
                        height: 100%;
                        border-radius: 5px 0px 0px 5px;
                        outline: none;
                        border: none;
                        background: var(--PrimaryColorManagerDashboard);
                        padding-left: 1rem;
                        color: var(--textColorManagerDashboard);
                    }
                }

                .SearchMgIconDiv{
                    width: 45px;
                    height: 45px;
                    padding: 2px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 0px 5px 5px 0px;
                    cursor: pointer;
                    background: var(--PrimaryColorManagerDashboard);

                    .iconMgDashboard {
                        width: 19px;
                        height: 19px;
                        flex-shrink: 0;
                        fill: var(--textColorManagerDashboard);
                    }
                }
            }

            .NotificationMgGroup {
                width: 45px;
                height: 45px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                background: var(--PrimaryColorManagerDashboard);

                .iconMgDashboard {
                    width: 19px;
                    height: 19px;
                    flex-shrink: 0;
                    fill: var(--textColorManagerDashboard);
                }

                &:hover {
                    background-color: var(--bgColorManagerDashboard);
    
                    .iconMgDashboard {
                        fill: var(--blackColorManagerDashboard);
                    }
                }
            }

            .MgProfileCardGroup {
                width: 45px;
                height: 45px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                border-radius: 5px;
                background: var(--PrimaryColorManagerDashboard);

                .iconMgDashboard {
                    width: 19px;
                    height: 19px;
                    flex-shrink: 0;
                    fill: var(--textColorManagerDashboard);
                }

                &:hover {
                    background-color: var(--bgColorManagerDashboard);
    
                    .iconMgDashboard {
                        fill: var(--blackColorManagerDashboard);
                    }
                }
            }

            .MenuChatAndCheckListGroup {
                width: 45px;
                height: 45px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                border-radius: 5px;
                background: var(--PrimaryColorManagerDashboard);

                .iconMgDashboard {
                    width: 19px;
                    height: 19px;
                    flex-shrink: 0;
                    fill: var(--textColorManagerDashboard);
                }

                &:hover {
                    background-color: var(--bgColorManagerDashboard);
    
                    .iconMgDashboard {
                        fill: var(--blackColorManagerDashboard);
                    }
                }
            }
        }
    }

}