:root {
  --PrimaryColorManagerDashboard: hsl(218, 61%, 12%);
  --SecondaryColorManagerDashboard: hsl(217, 61%, 21%);
  --HoverCoverManagerDashboard: hsl(40, 27%, 42%);
  --MainBtnManagerDashboard: hsl(42, 62%, 12%);
  --blackColorManagerDashboard: hsl(0, 0%, 18%);
  --textColorManagerDashboard: hsl(0, 0%, 83%);
  --bgColorManagerDashboard: hsl(218, 24%, 61%);
  --greyTextManagerDashboard: hsl(34, 4%, 39%);
  --inputColorManagerDashboard: hsl(240, 12%, 97%);
  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.MgHomeBody {
  height: 100vh;
}
.MgHomeBody .MgHomeBodyRightPage {
  height: 100vh;
  background: var(--SecondaryColorManagerDashboard);
  flex-basis: 100%;
  flex-direction: column;
  overflow: scroll;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer {
  width: 100%;
  flex-basis: 86%;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer {
  width: 100%;
  height: 80%;
  gap: 0.5rem;
  row-gap: 1.5rem;
  margin-top: 1rem;
  padding: 0.656rem 1.313rem 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup {
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColorManagerDashboard);
  border-radius: 0.625rem;
  transition: transform 0.5s;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody {
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 21px;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardInfo {
  grid-column: span 2;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardInfo h3 {
  font-size: var(--h2FontSize);
  color: var(--textColorManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardInfo p {
  font-size: var(--normalFontSize);
  color: var(--greyTextManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardBigIcon {
  width: 60px;
  height: 60px;
  place-items: center;
  background: var(--textColorManagerDashboard);
  border-radius: 5px;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardBigIcon .MgCardIconItem {
  width: 22px;
  height: 22px;
  fill: var(--MainBtnManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardLastMonth {
  grid-column: span 3;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardLastMonth p {
  font-size: var(--normalFontSize);
  color: var(--bgColorManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardLastMonth p span {
  width: 58px;
  font-size: var(--smallestFontSize);
  color: rgba(54, 103, 48, 0.912);
  background: rgba(193, 235, 188, 0.912);
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgCardBody .MgCardLastMonth p span .MgArrowIcon {
  font-size: var(--normalFontSize);
  transform: translate(-0.3rem, 0.15rem);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgProcessBarGroup {
  width: 100%;
  height: 7px;
  border-radius: 0px 0px 5px 5px;
  background: var(--bgColorManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup .MgProcessBarGroup .MgProcessBarValue {
  width: 70%;
  height: 7px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(31, 99, 31);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MgCardGroup:hover {
  transform: translateY(-0.8rem);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .TableChartMgHomeGroup {
  width: 100%;
  height: 100%;
  grid-column: span 3;
  grid-row: span 3;
  background-color: var(--PrimaryColorManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .BodyMgSecContainer .BodyMgDivContainer .MailChartMgHomeGroup {
  width: 100%;
  height: 100%;
  grid-column: span 2;
  grid-row: span 3;
  background-color: var(--PrimaryColorManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .FooterMgSecContainer {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--PrimaryColorManagerDashboard);
}
.MgHomeBody .MgHomeBodyRightPage .FooterMgSecContainer span {
  font-size: var(--smallFontSize);
  color: var(--textColorManagerDashboard);
  padding-left: 1rem;
}/*# sourceMappingURL=managerhome.css.map */