:root {
  --PrimaryColorDashboard: hsl(94, 59%, 35%);
  --HoverCoverDashboard: #bdf094;
  --paleGreenDashboard: hsl(96, 75%, 85%);
  --whiteColorDashboard: hsl(0, 0%, 100%);
  --blackColorDashboard: hsl(0, 0%, 18%);
  --textColorDashboard: hsl(240, 1%, 48%);
  --bgColorDashboard: hsl(220, 10%, 94%);
  --greyTextDashboard: rgb(190, 190, 190);
  --inputColorDashboard: hsl(330, 12%, 97%);
  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --bigFontSize: 2rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FOntSIze: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.mainContentChangePass {
  width: 82%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}
.mainContentChangePass h1 {
  text-align: center;
}
.mainContentChangePass .formTitleChangePass {
  justify-content: center;
}
.mainContentChangePass .formTitleChangePass h1 {
  color: var(--blackColorDashboard);
}
.mainContentChangePass .formContainerChangePass {
  height: 500px;
  margin-top: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass {
  flex-basis: 60%;
  flex-direction: column;
  gap: 1.5rem;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass {
  gap: 0.5rem;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass .labelNameChangePass {
  width: 100px;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass .labelNameChangePass p {
  width: auto;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass .input-changepass {
  border: 1px solid var(--greyTextDashboard);
  background: var(--inputColorDashboard);
  padding: 0.4rem;
  border-radius: 5px;
  width: 400px;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass .button-update-changepass {
  width: 60%;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass .button-update-changepass .btn {
  padding: 0.8rem 10.5rem;
  border-radius: 5px;
}
.mainContentChangePass .formContainerChangePass .edit-form-change-pass .button-update-changepass .btn .button-container-changepass {
  gap: 1rem;
}

@media screen and (max-width: 720px) {
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass {
    gap: 0.6rem;
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass {
    flex-direction: column;
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass .labelNameChangePass {
    transform: translateX(-9rem);
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .button-update-changepass {
    width: 100%;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 570px) {
  .mainContentChangePass .formTitleChangePass h1 {
    font-size: var(--h1FontSize);
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass {
    align-items: start;
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass .labelNameChangePass {
    transform: translateX(-4.5rem);
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass .input-changepass {
    width: 250px;
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .button-update-changepass .btn {
    padding: 0.8rem 5.7rem;
  }
}
@media screen and (max-width: 385px) {
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .label-container-changepass .input-changepass {
    width: 200px;
  }
  .mainContentChangePass .formContainerChangePass .edit-form-change-pass .button-update-changepass .btn {
    padding: 0.8rem 4.1rem;
  }
}/*# sourceMappingURL=userchangepasswordbody.css.map */