:root {
    --PrimaryColorManagerDashboard: hsl(218, 61%, 12%);
    --SecondaryColorManagerDashboard: hsl(217, 61%, 21%);
    --HoverCoverManagerDashboard: hsl(40, 27%, 42%);
    --MainBtnManagerDashboard: hsl(42, 62%, 12%);
    --blackColorManagerDashboard: hsl(0, 0%, 18%);
    --textColorManagerDashboard: hsl(0, 0%, 83%);
    --bgColorManagerDashboard: hsl(218, 24%, 61%);
    --greyTextManagerDashboard: hsl(34, 4%, 39%);
    --inputColorManagerDashboard: hsl(240, 12%, 97%);
    --inputColorManagerDashboardRed: #d5d5d5;

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.ClosePopBtnDiv{
    flex-basis: 12%;
    height: 20%;
    justify-content: end;
    align-items: start;

    .popupCloseUserInfo{
        background: none;
        border: none;

        .icon{
            &:hover{
                color: rgb(250, 49, 49)
            }
        }
    }
}

.edit-form{
    flex-basis: 60%;
    flex-direction: column;
    gap: 1.5rem;

    .LabelContainerMgBannerEdit{
        gap: .5rem;

        .labelNameMgBannerEdit{
            width: 100px;

            p{
                width: auto;
            }
        }

        .inputMgBannerEdit{
            border: 1px solid var(--greyTextDashboard);
            background: var(--inputColorDashboard);
            padding: .4rem;
            border-radius: 5px;
            width: 400px;
        }

        .textareaMgBannerEdit{
            resize: none;
            border: 1px solid var(--greyTextDashboard);
            background: var(--inputColorDashboard);
            padding:.4rem;
            border-radius: 5px;
            width: 400px;
        }

    }

    .LabelContainerMgBannerEdit-img{
        gap: .5rem;

        .labelNameMgBannerEdit{
            width: 100px;

            p{
                width: auto;
            }
        }

        .inputMgBannerEdit-img{
            border: hidden;
            background: none;
            padding: .4rem;
            width: 400px;
        }

        .img-and-button-remove{
            justify-content: space-between;
            gap: 20.1rem;

            .image-container{
                width: 50px;

                .profile-img{
                    width:100%;
                }
            }

            .btn-image-container{

                .btn-image{
                    border: none;
                    background: none;
                    outline: none;
                    .icon-dashboard{
                        font-size: var(--bigFontSize);
                        color: var(--blackColorDashboard);
                    }

                   
                }

                &:hover .btn-image{
                    background: rgb(241, 103, 103);

                    .icon-dashboard{
                        color: var(--whiteColorDashboard);
                    }
                    
                }
                
            }
        }

        

    }

    .button-update{
        width: 60%;
        justify-content: center;
        


        .btn{
            padding: .8rem 10.5rem;
            border-radius: 5px;

            

            .button-container-profile-edit{
                gap: 1rem;
            }

            &:hover{
                .button-container-profile-edit{
                    scale: (1.2);
                }
            }
        }
    }

}